
/ThirdParty/zlib
/ThirdParty/Temp
/ThirdParty/build
/ThirdParty/libpng
/ThirdParty/pngcrush
/ThirdParty/ObjectListView
/Source/BitmapOptim/bin
/Source/BitmapOptim/obj
/Source/BitmapOptim.suo